DEBUG={{ pillar.debug }}  {# ext pillar variable #}
APP_URL={{ pillar.app_url }}  {# received from deploy command #}
API_KEY={{ pillar.api_key }}  {# received from deploy command #}
DEVICE_ID={{ pillar.device_id }}  {# ext pillar variable #}
DOWNLOAD_DIR={{ pillar.media_dir }}
